.cursor {
	cursor: pointer;
}

.img-center {
	margin: 0 auto;
}

.card-container {
	width: 200px;
	height: 260px;
	position: relative;
	perspective: 800px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;	
}

.custom-card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

.custom-card .card-body {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.custom-card .front {
	padding: 15px;  
}

.custom-card .back {
	color: #fff;
	background-color: #1DA1F2;
	padding: 15px;
	transform: rotateY( 180deg );
}

.card-container .flipped {
	transform: rotateY(180deg);
}

.progress-container {
	width: 200px;
}